#content {
    width: 70%;
    margin: 0 auto;
    border: 20px solid #bdc3c7;
    font-family: "Source Sans Pro";
    font-weight: 600;
    margin-top: 20px;
}

.date {
    color: #3498db;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
}

.article {
    margin: 2%;
}

.first-paragraph {
    border-left: 5px solid #bdc3c7;
    padding-left: 5px;
}

.title-of-article {
    color: #2c3e50;
}

.line {
    margin: 2%;
    height: 1px;
    background-color: #bdc3c7;
}